{% extends 'base.html.twig' %}

{% block title %}
    Homepage - {{ parent() }}
{% endblock %}


{% block body %}
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {{ render(controller('App\\Controller\\HomepageController::menu')) }}

    {% embed 'horizontal_blocks.html.twig' %}
        {% block first %}
            <h1>Hello World</h1>
        {% endblock %}

        {% block second %}

            <ul>
                {% for movie in movies %}
                    <li>
                        <a href="{{ path('movie', {id: movie.id}) }}">
                            {{ movie.title }} ({{ movie.releaseDate|date('Y') }})
                        </a>
                    </li>
                {% else %}
                    <li>No movies</li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}

{% endblock %}
